# Salin file ini menjadi .env.local
# Isi dengan kredensial dari dashboard Supabase-mu
# https://app.supabase.com -> Project Settings -> API

VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
